# See lib/git-merge-changelog.c for making this useful.
ChangeLog	merge=merge-changelog
# Default to EBCDIC unless otherwise specified
*                zos-working-tree-encoding=ibm-1047 git-encoding=iso8859-1

# The git attributes and ignore files MUST be ASCII
.gitattributes   zos-working-tree-encoding=iso8859-1 git-encoding=iso8859-1
.gitignore       zos-working-tree-encoding=iso8859-1 git-encoding=iso8859-1
* text eol=lf
# Run this to make 'git diff' on texinfo files give nicer hunk context:
#   git config diff.texinfo.funcname '^@node[	 ][	 ]*\\([^,][^,]*\\)'
*.texi* diff=texinfo

# Run this to make 'git diff' on .m4 files give nicer hunk context:
#   git config diff.m4.xfuncname '^((AC_DEFUN|m4_define)[^,)]*)'
*.m4 text !eol zos-working-tree-encoding=UTF-8 diff=m4
*.mak text !eol zos-working-tree-encoding=IBM-1047
*.py text !eol zos-working-tree-encoding=UTF-8 diff=python
Makefile text !eol zos-working-tree-encoding=IBM-1047
ChangeLog text !eol zos-working-tree-encoding=UTF-8
NEWS text !eol zos-working-tree-encoding=UTF-8
doc/INSTALL* text !eol zos-working-tree-encoding=UTF-8
*.c text !eol zos-working-tree-encoding=UTF-8 diff=cpp
*.cc text !eol zos-working-tree-encoding=UTF-8 diff=cpp
*.cpp text !eol zos-working-tree-encoding=UTF-8 diff=cpp
*.h text !eol zos-working-tree-encoding=UTF-8 diff=cpp
*.class text !eol zos-working-tree-encoding=UTF-8 diff=java
gnulib-tool text eol=lf zos-working-tree-encoding=UTF-8
bootstrap text eol=lf zos-working-tree-encoding=UTF-8
*.sh text eol=lf zos-working-tree-encoding=UTF-8
*.sed text eol=lf
#files below has to have utf-8 character, no idea how to solve it now
doc/Makefile text !eol zos-working-tree-encoding=UTF-8
tests/uninorm/NormalizationTest.txt text !eol zos-working-tree-encoding=UTF-8
tests/testlocale/fr/LC_MESSAGES/test-quotearg.mo text !eol zos-working-tree-encoding=UTF-8
modules/uniname/uniname text !eol zos-working-tree-encoding=UTF-8
